<% provide(:title, 'Cuestionario') %>

<div class="jumbotron">
        <h3>Pregunta 1!</h3>
        <p class="lead">Cras justo odio, dapibus ac facilisis in em malesuada magna mollis euismod. Donec sed odio dui  a</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Respuesta 1</h2>
          <p>porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">ok &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <h2>Respuesta 2</h2>
          <p>porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">ok &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h2>Respuesta 3</h2>
          <p>porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">ok &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <h2>Respuesta 4</h2>
          <p>porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">ok &raquo;</a></p>
        </div>
      </div>
