<% provide(:title, 'Sign up') %>

<div class="center jumbotron">
<form class="form-signin">       
      <h2 class="form-signin-heading">Ingreso</h2>
      <input type="text" class="form-control" name="username" placeholder="Ping" required="" autofocus="">
      <%= link_to "Entrar", cuestionario_path, class: "btn btn-lg btn-primary btn-block" %>
    </form>
    </div>
