<% provide(:title, 'Sign up') %>

<div class="center jumbotron">
<form class="form-signin">       
      <h2 class="form-signin-heading">Ingreso</h2>
      <input type="text" class="form-control" name="username" placeholder="Email " required="" autofocus="">
      <input type="password" class="form-control" name="password" placeholder="Clave" required="">      
      <%= link_to "Entrar", pregunta_path, class: "btn btn-lg btn-primary btn-block" %>
    </form>
    </div>
