<% provide(:title, 'Registro') %>

<div class="center jumbotron">
<form class="form-signin">       
      <h2 class="form-signin-heading">Registro Profesor</h2>
      <input type="text" class="form-control" name="username" placeholder="Email " required="" autofocus="">
      <input type="password" class="form-control" name="password" placeholder="Clave" required="">      
      <input type="password" class="form-control" name="password" placeholder="Repetir Clave" required="">     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registar</button>   
    </form>
    </div>
