<footer class="footer">
  <small>
    Echo por Joel Rodriguez y Angel Guerra
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Registro", registrar_path %></li>
    </ul>
  </nav>
</footer>