<h1>Crear un nuevo Quiz</h1>

<% @quiz.errors.full_messages.each do |m|%>
  <%=m%>
<%end%>

<%= form_for(@quiz)  do |f| %>
  <h2><%=f.text_field :description, placeholder: "Nombre de su Quiz"%></h2>
  <%= f.submit "Crear"%>
<% end %>
